* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 100px;
    gap: 10px;
    
}

header .logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: row;
    margin: 0;
    padding: 0;
    gap: 20px;
    
}

a, li {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    gap: 20px;
}

.hero {
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    max-height: 500px;
}

.hero-text {
    width: 400px;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 15px;
}

.hero-image {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    margin: auto;
}

.random-container {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cards {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    align-items: center;
}

.random-container .text {
    justify-content: center;
    text-align: center;
    max-width: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;

}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.quote-credit {
    font-size: 20px;
    font-weight: 600;
    color: #1F2937;
    margin-left: auto;
}

.cta-container {
    background-color: #3882F6;
    margin: 80px 175px;
    padding: 40px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.cta-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.cta-container button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid #F9FAF8;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    margin: auto;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    text-align: center;
    padding: 40px;
}