body {
    margin: 0;
    font-family: roboto;    
    min-height: 100vh;
    display: flex;
}

.nav {
    display: flex;
    background-color: #1F2937;
}

ul {
    text-decoration: none;
    color: white;
}